@inherits LayoutComponentBase
@inject IJSRuntime _JSRuntime
@inject ThemeService _ThemeService

<div class="page">

    <TopMenu />

    <div class="flex flex-row h-screen">

        <SideMenu />

        <main class="bg-[var(--bg)] flex-1 w-full fixed pt-10 sm:pt-14 sm:ml-14 z-10 h-screen
            overflow-y-auto p-4">

            <article>
                @Body
            </article>
        </main>

    </div>

</div>

@code {

    protected override async Task OnInitializedAsync()
    {
        var savedTheme = await _JSRuntime.InvokeAsync<string>("localStorage.getItem", "theme");

        if (!string.IsNullOrEmpty(savedTheme))
            await _ThemeService.SetTheme(savedTheme);

        await ApplyTheme();
        _ThemeService.OnChange += async () => await ApplyTheme();
    }

    async Task ApplyTheme()
    {
        var theme = Themes.All[_ThemeService.CurrentTheme];
        await _JSRuntime.InvokeVoidAsync("applyTheme", theme);
    }

    async void OnThemeChanged()
    {
        await ApplyTheme();
        StateHasChanged();
    }
}