@inherits LayoutComponentBase
<div class="page">

    <TopMenu />

    <div class="flex flex-row h-screen">

        <SideMenu />

        <main>

            <article class="m-40 mt-20">
                @Body
            </article>
        </main>

    </div>

</div>