<div class="flex flex-col lg:justify-center w-auto max-w-full sm:max-w-[50%] h-auto max-h-130 border-[0.50px] 
border-(--ColorBorder) rounded-sm overflow-hidden text-(--ColorTextRM)">

    <div class="p-2 sm:p-4 md:p-6 lg:p-8">

        <p class="text-base md:text-lg lg:text-xl">Desenvolvedor Backend com experiência em <span
                class="underline font-semibold">C#</span>,
            <span class="underline font-semibold">SQL</span>, além de outras tecnologias.
        </p>

        <p class="text-base md:text-lg lg:text-xl mt-2">Minha jornada na tecnologia começou nas
            aulas
            de
            robótica, onde montei robôs físicos, e depois os programei
            em <span class="underline font-semibold">C</span>.
            Depois, aprofundei meus conhecimentos no curso técnico em Desenvolvimento de Sistemas pela Etec e
            segui
            para Análise e Desenvolvimento de Sistemas na Fatec.
            Atualmente, estou aprofundando meus
            conhecimentos em <span class="underline font-semibold">.NET</span>, explorando suas
            tecnologias para ampliar minhas habilidades.
        </p>

        <p class="text-base md:text-lg lg:text-xl mt-2">
            Você pode verificar minhas certificações aqui no <a class="underline text-(--ColorSecundary)"
                href="https://www.linkedin.com/in/ddcf/details/certifications" target="_blank"
                rel="noopener noreferrer">Linkedin</a>.
        </p>


    </div>

</div>