<div class="flex flex-row ml-2 sm:ml-4 md:ml-6 gap-1">

    <h3 class="text-(--KeyColor)">
        "@Key":
    </h3>

    @if (!string.IsNullOrEmpty(Url))
    {
        <a href="@Url" target="_blank" rel="noopener noreferrer">
            <h3 class="ml-1 text-(--ValueColor) underline" )>
                "@Value"
            </h3>
        </a>
    }
    else
    {
        <h3 class="ml-1 text-(--ValueColor)" )>
            "@Value"
        </h3>
    }

</div>

@code {

    [Parameter]
    [EditorRequired]
    public string Key { get; set; }

    [Parameter]
    public string? Url { get; set; }

    [Parameter]
    [EditorRequired]
    public string Value { get; set; }

}