@page "/projects"
@using System.Text.Json.Serialization
@using System.Text.Json
@inject HttpClient _Http

<body>

    <div class="flex sm:flex justify-center sm:justify-start items-center sm:items-start
    mt-2 sm:mt-4">

        <h2 class="font-sans text-4xl md:text-5xl lg:text-6xl text-(--ColorSecundary) block">
            Foco profissional
        </h2>

    </div>

    <div class="flex sm:flex justify-center sm:justify-start items-center sm:items-start
    mt-4 sm:mt-8">

        <h3 class="font-sans text-3xl md:text-4xl lg:text-5xl text-(--ColorSecundary) block">
            Stack Principal
        </h3>
    </div>

    @if (MainTechs is null)
    {
        <p>Carregando tecnologias...</p>
    }
    else
    {
        @foreach (var tech in MainTechs)
        {
            <Board Techs="@MainTechs" />
        }
    }

    <div class="flex sm:flex justify-center sm:justify-start items-center sm:items-start
    mt-12 sm:mt-14 md:mt-16 mb-8 sm:mb-10">

        <h3 class="font-sans text-3xl md:text-4xl lg:text-5xl text-(--ColorSecundary) block
        t-12 sm:mt-14 md:mt-16 mb-8 sm:mb-10">
            Principais projetos
        </h3>
    </div>

    <div class="w-full h-auto grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 
        justify-items-center gap-6 sm:gap-8 lg:gap-10 mb-20 sm:mb-6 md:mb-0">

        @if (MainProjects is null)
        {
            <p>Carregando projetos...</p>
        }
        else
        {
            @foreach (var project in MainProjects)
            {
                <ProjectCard Project="@project" />
            }
        }

    </div>

    <div class="flex sm:flex justify-center sm:justify-start items-center sm:items-start
    mt-4 sm:mt-8">
        <h3 class="font-sans text-3xl md:text-4xl lg:text-5xl
         text-darkVS-ColorSecundary block">Stack Complementar</h3>
    </div>

</body>

@code {

    private List<ProjectDTO>? MainProjects;
    private List<TechDTO>? MainTechs;

    protected override async Task OnInitializedAsync()
    {
        var options = new JsonSerializerOptions
        {
            PropertyNameCaseInsensitive = true
        };

        options.Converters.Add(new JsonStringEnumConverter());

        MainProjects = await _Http.GetFromJsonAsync<List<ProjectDTO>>(
        "Data/MainProjects.json",
        options
        );

        MainTechs = await _Http.GetFromJsonAsync<List<TechDTO>>(
        "Data/MainTechs.json",
        options
        );
    }

}