@page "/settings"
@using portfolio_v2.Components.Settings

<div class="flex sm:flex justify-center sm:justify-start items-center sm:items-start
    mt-2 sm:mt-4">
    <h2 class="font-sans text-4xl md:text-5xl lg:text-6xl
         text-(--ColorSecundary) block">Temas disponíveis</h2>
</div>

<div class="w-full grid grid-cols-1 sm:grid-cols-2 justify-items-center
    mt-8 sm:mt-10 md:mt-12 gap-8 mb-20 sm:mb-6 md:mb-0">

    <Theme ThemePath="Imgs/Settings/vsCode.svg" ThemeName="Visual Studio Dark" ThemeFunctionName="darkVS" />
    <Theme ThemePath="Imgs/Settings/oneDark.svg" ThemeName="One Dark" ThemeFunctionName="oneDark" />
    <Theme ThemePath="Imgs/Settings/monokaiLight.svg" ThemeName="Monokai Light" ThemeFunctionName="monokaiLight" />
    <Theme ThemePath="Imgs/Settings/winteriscoming.svg" ThemeName="Winter is Coming" ThemeFunctionName="winterComing" />
</div>