<div class="w-full h-auto flex flex-wrap justify-center items-center mt-8 sm:mt-10">
    <div class="w-full max-w-[80%] h-[80%] bg-[var(--BoardColor)] rounded-md grid grid-cols-5 justify-items-center
        gap-6 sm:gap-8 md:gap-10 px-2 sm:px-4 md:px-6 py-2 sm:py-4 md:py-6">

        @foreach (var tec in Techs)
        {
            <BoardItem StackPath="@tec.Path" StackName="@tec.Name" />
        }

    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public List<TechDTO> Techs { get; set; }

}