<div class="w-full h-auto flex flex-wrap justify-center items-center mt-8 sm:mt-10">
    <div class="w-full max-w-[80%] h-[80%] bg-(--BoardColor) rounded-md grid grid-cols-5 justify-items-center
        gap-6 sm:gap-8 md:gap-10 px-2 sm:px-4 md:px-6 py-2 sm:py-4 md:py-6">

        @* <BoardItem StackPath="imgs/projects/stack/dotnet.svg" StackName=".NET" />
        <BoardItem StackPath="imgs/projects/stack/csharp.svg" StackName="C#" />
        <BoardItem StackPath="imgs/projects/stack/sql.svg" StackName="SQL" />
        <BoardItem StackPath="imgs/projects/stack/postgresql.svg" StackName="PostgreSQL" />
        <BoardItem StackPath="imgs/projects/stack/sqlite.svg" StackName="SQLite" />
        <BoardItem StackPath="imgs/projects/stack/docker.svg" StackName="Docker" />
        <BoardItem StackPath="imgs/projects/stack/azure.svg" StackName="Azure" /> *@

        @foreach (var tec in Techs)
        {
            <BoardItem StackPath="@tec.Path" StackName="@tec.Name" />
        }

    </div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public List<TechDTO> Techs { get; set; }

}