<a href="@ProjectUrl" target="_blank" rel="noopener noreferrer">
    <button class="bg-(--ButtonColor) text-(--TextColorButton) font-bold text-sm sm:text-base md:text-lg rounded-lg
                            px-6 py-3 flex items-center justify-center gap-2 min-w-40 h-12">
        <img class="h-5 w-auto" src="imgs/Projects/buttons/github.svg" alt="Github">
        Repositório
    </button>
</a>

@code {

    [Parameter]
    [EditorRequired]
    public string ProjectUrl { get; set; }
}