@inject NavigationManager _NavigationManager

<button id="menuButton" class="block sm:hidden hover:bg-(--TopMenuHover) hover:rounded-md hover:cursor-pointer"
        aria-controls="menuHamburguer" aria-expanded="@IsVisible" @onclick='() => PressMenuButton()'>
    <img class="h-6 w-auto px-2" src="imgs/menu/hamburger.svg" alt="hamburguer">
</button>

@if (IsVisible)
{
    <div id="menuHamburguer" class="sm:hidden fixed top-10 left-0 w-full h-[calc(100vh-2.5rem)]
        z-40 bg-(--MenuHamburguer) flex justify-center items-center">

        <div class="w-full h-full flex flex-col justify-center gap-8 text-4xl">

            <div class="w-full text-center py-4 text-(--MenuHamburguerText) hover:bg-(--MenuHamburguerHover)
                hover:text-(--MenuHamburguerHoverText) hover:cursor-pointer" @onclick='() => ChangeSection("home")'>
                <button class="leading-none hover:cursor-pointer">
                    Início
                </button>
            </div>

            <div class="w-full text-center py-4 text-(--MenuHamburguerText) hover:bg-(--MenuHamburguerHover)
                hover:text-(--MenuHamburguerHoverText) hover:cursor-pointer"
                 @onclick='() => ChangeSection("projects")'>
                <button class="leading-none hover:cursor-pointer">Projetos</button>
            </div>

            <div class="w-full text-center py-4 text-(--MenuHamburguerText) hover:bg-(--MenuHamburguerHover)
                hover:text-(--MenuHamburguerHoverText) hover:cursor-pointer"
                 @onclick='() => ChangeSection("contacts")'>
                <button class="leading-none hover:cursor-pointer">Contatos</button>
            </div>

            <div class="w-full text-center py-4 text-(--MenuHamburguerText) hover:bg-(--MenuHamburguerHover)
                hover:text-(--MenuHamburguerHoverText) hover:cursor-pointer"
                 @onclick='() => ChangeSection("settings")'>
                <button class="leading-none hover:cursor-pointer">Configurações</button>
            </div>

        </div>

    </div>

}

@code {

    private bool IsVisible = false;

    protected void PressMenuButton()
    {
        IsVisible = !IsVisible;
    }

    protected void ChangeSection(string section)
    {
        switch (section)
        {
            case "home":
                _NavigationManager.NavigateTo("");
                PressMenuButton();
                break;
            case "projects":
                _NavigationManager.NavigateTo("projects");
                PressMenuButton();
                break;
            case "contacts":
                _NavigationManager.NavigateTo("contacts");
                PressMenuButton();
                break;
            case "settings":
                _NavigationManager.NavigateTo("settings");
                PressMenuButton();
                break;
        }
    }
}