@inject NavigationManager _NavigationManager

<button id="menuButton" class="block sm:hidden hover:bg-(--TopMenuHover) hover:rounded-md"
    aria-controls="menuHamburguer" aria-expanded="@IsVisible" @onclick='() => PressMenuButton()'>
    <img class="h-6 w-auto px-2" src="imgs/menu/hamburger.svg" alt="hamburguer">
</button>

@if (IsVisible)
{
    <div id="menuHamburguer" class="mt-30 rounded-sm bg-(--MenuHamburguer)">

        <div
            class="flex flex-col mt-1 w-48 p-1 justify-start items-start text-(--MenuHamburguerText) hover:text-(--MenuHamburguerHoverText)">

            <div class="flex flex-row justify-between items-center w-full 
                                            hover:bg-(--MenuHamburguerHover) hover:rounded-md py-1 px-4"
                @onclick='() => ChangeSection("home")'>
                <button class="font-sans text-inherit text-sm ml-2 leading-none">Tela
                    inicial</button>
                <span class="text-inherit invisible">></span>
            </div>

            <div class="flex flex-row justify-between items-center w-full
                                            hover:bg-(--MenuHamburguerHover) hover:rounded-md py-1 px-4"
                @onclick='() => ChangeSection("projects")'>
                <button class="font-sans text-inherit text-sm ml-2 leading-none">Projetos</button>
                <span class="text-inherit invisible">></span>
            </div>

            <div class="flex flex-row justify-between items-center w-full
                        hover:bg-(--MenuHamburguerHover) hover:rounded-md py-1 px-4"
                @onclick='() => ChangeSection("contact")'>
                <button class="font-sans text-inherit text-sm ml-2 leading-none">Fale
                    comigo</button>
                <span class="text-inherit invisible">></span>
            </div>

            <div class="flex flex-row justify-between items-center w-full
                    hover:bg-(--MenuHamburguerHover) hover:rounded-md py-1 px-4"
                @onclick='() => ChangeSection("settings")'>
                <button class="font-sans text-inherit text-sm ml-2 leading-none">Configurações</button>
                <span class=" text-inherit invisible">></span>
            </div>

        </div>

    </div>

}

@code {

    private bool IsVisible = false;

    protected void PressMenuButton()
    {
        IsVisible = !IsVisible;
    }

    protected void ChangeSection(string section)
    {
        switch (section)
        {
            case "home":
                _NavigationManager.NavigateTo("");
                PressMenuButton();
                break;
            case "projects":
                _NavigationManager.NavigateTo("projects");
                PressMenuButton();
                break;
            case "contact":
                _NavigationManager.NavigateTo("contact");
                PressMenuButton();
                break;
            case "settings":
                _NavigationManager.NavigateTo("settings");
                PressMenuButton();
                break;
        }
    }
}