@inject NavigationManager _NavigationManager

<div class="bg-(--SideMenu) fixed top-10 left-0 hidden
         sm:flex sm:h-screen sm:w-14 sm:flex-col sm:items-center z-40 text-(--TextColorSpan)">


    <div class="relative w-auto h-auto px-2 py-2 cursor-pointer group" @onclick='() => ChangeSection("home")'>

        <div class="absolute left-0 top-0 h-full w-1
            bg-(--ColorSecundary) rounded-r" hidden="@(!IsActive("home"))">
        </div>

        @if (IsActive("home"))
        {
            <img class="h-auto w-auto" src="imgs/menu/homeHover.svg" alt="Início">
        }
        else
        {
            <img class="h-auto w-auto block group-hover:hidden" src="imgs/menu/home.svg" alt="Início">
            <img class="h-auto w-auto hidden group-hover:block" src="imgs/menu/homeHover.svg" alt="Início">
        }

        <div class="absolute left-full top-1/2 transform -translate-y-1/2 ml-4 px-3 py-2 text-xs font-medium
             whitespace-nowrap bg-(--Span) rounded-md border-[0.25px] border-(--ColorBorder) opacity-0 group-hover:opacity-100
              transition-opacity duration-300 pointer-events-none">
            Tela inicial
            <div class="absolute -left-1 top-1/2 transform -translate-y-1/2 w-0 h-0 border-t-4 border-b-4 border-r-4 border-t-transparent
                        border-b-transparent border-r-(--ColorBorder)">
            </div>
        </div>

    </div>

    <div class="relative w-auto h-auto px-2 py-2 cursor-pointer group" @onclick='() => ChangeSection("projects")'>

        <div class="absolute left-0 top-0 h-full w-1
            bg-(--ColorSecundary) rounded-r" hidden="@(!IsActive("projects"))">
        </div>

        @if (IsActive("projects"))
        {
            <img class="h-auto w-auto" src="imgs/menu/projectHover.svg" alt="Projetos">
        }
        else
        {
            <img class="h-auto w-auto block group-hover:hidden" src="imgs/menu/project.svg" alt="Projetos">
            <img class="h-auto w-auto hidden group-hover:block" src="imgs/menu/projectHover.svg" alt="Projetos">
        }

        <div class="absolute left-full top-1/2 transform -translate-y-1/2 ml-4 px-3 py-2 text-xs font-medium
             whitespace-nowrap bg-(--Span) rounded-md border-[0.25px] border-(--ColorBorder) opacity-0 group-hover:opacity-100
              transition-opacity duration-300 pointer-events-none">
            Projetos
            <div class="absolute -left-1 top-1/2 transform -translate-y-1/2 w-0 h-0 border-t-4 border-b-4 border-r-4 border-t-transparent
                        border-b-transparent border-r-(--ColorBorder)">
            </div>
        </div>

    </div>

    <div class="relative w-auto h-auto px-2 py-2 cursor-pointer group" @onclick='() => ChangeSection("contact")'>

        <div class="absolute left-0 top-0 h-full w-1
            bg-(--ColorSecundary) rounded-r" hidden="@(!IsActive("contact"))">
        </div>

        @if (IsActive("contact"))
        {
            <img class="h-auto w-auto" src="imgs/menu/contactHover.svg" alt="Contato">
        }
        else
        {
            <img class="h-auto w-auto block group-hover:hidden" src="imgs/menu/contact.svg" alt="Contato">
            <img class="h-auto w-auto hidden group-hover:block" src="imgs/menu/contactHover.svg" alt="Contato">
        }

        <div class="absolute left-full top-1/2 transform -translate-y-1/2 ml-4 px-3 py-2 text-xs font-medium
             whitespace-nowrap bg-(--Span) rounded-md border-[0.25px] border-(--ColorBorder) opacity-0 group-hover:opacity-100
              transition-opacity duration-300 pointer-events-none">
            Fale comigo
            <div class="absolute -left-1 top-1/2 transform -translate-y-1/2 w-0 h-0 border-t-4 border-b-4 border-r-4 border-t-transparent
                        border-b-transparent border-r-(--ColorBorder)">
            </div>
        </div>

    </div>

    <div class="mt-auto mb-14">

        <div class="relative w-auto h-auto px-2 py-2 cursor-pointer group" @onclick='() => ChangeSection("settings")'>

            <div class="absolute left-0 top-0 h-full w-1
                bg-(--ColorSecundary) rounded-r" hidden="@(!IsActive("settings"))">
            </div>

            @if (IsActive("settings"))
            {
                <img class="h-auto w-auto" src="imgs/menu/settingsHover.svg" alt="Configurações">
            }
            else
            {
                <img class="h-auto w-auto block group-hover:hidden" src="imgs/menu/settings.svg" alt="Configurações">
                <img class="h-auto w-auto hidden group-hover:block" src="imgs/menu/settingsHover.svg" alt="Configurações">
            }


            <div class="absolute left-full top-1/2 transform -translate-y-1/2 ml-4 px-3 py-2 text-xs font-medium
                 whitespace-nowrap bg-(--Span) rounded-md border-[0.25px] border-(--ColorBorder) opacity-0 group-hover:opacity-100
                transition-opacity duration-300 pointer-events-none">
                Configurações
                <div class="absolute -left-1 top-1/2 transform -translate-y-1/2 w-0 h-0 border-t-4 border-b-4 border-r-4 border-t-transparent
                        border-b-transparent border-r-(--ColorBorder)">
                </div>
            </div>
        </div>

    </div>


</div>

@code {

    private string CurrentRoute = "";

    protected override void OnInitialized()
    {
        UpdateRoute();
        _NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        UpdateRoute();
        StateHasChanged();
    }

    private void UpdateRoute()
    {
        CurrentRoute = _NavigationManager.
        ToBaseRelativePath(_NavigationManager.Uri).Trim('/').ToLower();
    }

    private bool IsActive(string route)
    {
        if (route == "home")
            return string.IsNullOrEmpty(CurrentRoute);

        return CurrentRoute.StartsWith(route);
    }

    protected void ChangeSection(string section)
    {
        _NavigationManager.NavigateTo(section == "home" ? "" : section);
    }

    public void Dispose()
    {
        _NavigationManager.LocationChanged -= OnLocationChanged;
    }

}